<div class="flex items-center justify-center min-h-screen bg-gray-100 ">
    <div class="flex w-3/5 h-[500px]  bg-white shadow-lg rounded-md">
      <div class="w-1/2">
            <div class="login-background "></div>
      </div>
      <div class="w-1/2 flex items-center justify-center p-10">
        <form class="w-full max-w-sm p-4">
          <h2 class=" font-bold text-center mb-6">Login</h2>
         
          <div class="mb-4">
            <label for="username" class="block text-gray-700">Username</label>
            <input type="text" pInputText [(ngModel)]="USERNAME" [ngModelOptions]="{standalone : true}" placeholder="Please Enter.." />
          </div>
          <div class="mb-6">
            <label for="password" class="block text-gray-700">Password</label>
            <input type="text" pInputText [(ngModel)]="PASSWORD" [ngModelOptions]="{standalone : true}" placeholder="Please Enter.." />
          </div>
          <button
            type="submit"
            (window:keypress)="onSomeAction($event)" (click)="logIn()"
            class="w-full bg-indigo-500 text-white py-2 rounded hover:bg-indigo-600 transition duration-200"
          >
            Login
          </button>
        </form>
      </div>
    </div>
</div>