.p-card {
    border-radius: 0 !important;
    background-clip: padding-box;
    box-shadow: 0 .1875rem .5rem 0 rgba(34, 48, 62, .1) !important;
}
.p-card .p-card-content {
    padding: 0 !important;
}
.p-card-body{
    padding: 0.5rem !important;
    background-color: #fff;
}



.prime-button .p-button{
    padding: 6px 10px !important;
    font-size: 10px !important;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
    letter-spacing: 0.15px;
    border-radius: 5px;
}
.save-button .p-button{
    background: #101828;
    border: 1px solid #101828;
    color: #fff;
}
.action-button .p-button{
    border: 1px solid #101828;
    color: #101828;
    background-color: transparent;
}